body {
    background: linear-gradient(135deg, rgb(34, 193, 195), rgb(253, 187, 45)); 
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    width: 400px;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    text-align: center;
}

#calcularBtn {
    background-color: rgb(253, 187, 45); 
    color: rgb(34, 34, 34);
}
#calcularBtn:hover {
    background-color: rgb(34, 193, 195); 
    color: white;
}

